* {
  font-family: "Gill Sans", "Gill Sans MT";
}
body {
  background-color: #ee8d0d;
}
.container {
  background-color: #ffffff;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  margin-top: 20rem;
  padding: 10px;
}
.flex-box {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

#flex-box-result {
  color: #ee8d0d;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
  background-color: #181614;
  border-radius: 8px;
}
